html *{
  font-family: 'Courier New', Courier, monospace;
}

body{
  font-size: 1em;
  width: 100vw;
  overflow: hidden;
  background-color: #fbe8fd;
  position: relative;
  margin: 0;
  
}

button{
  font-size: 1em;
  cursor: pointer;
  color: black;
}

h1{
  margin-top: 1.5em;
}

main {
  width: 100%;
  height: 100vh;
  margin: auto;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#intro, #story{
  max-width: 700px;
  margin: 0 auto;
}

#story p button{
  color: black;
  background-color: #f4f4f4;
  border: 1px solid #797979;
  border-radius: 3px;
  padding: 2px 6px;
  margin: 0 1px 0 1px;
}
#story p button:hover{
  border: 1px solid #f29c4b;
}

#start-button{
  font-size: large;
  background-color: #fdf2da;
  border: 1px solid #797979;
  border-radius: 5px;
  padding: 6px 12px;
}
#restart-button{
  background-color: #fdf2da;
  border: 1px solid #797979;
  border-radius: 5px;
  padding: 5px 7px;
  -webkit-animation: 2.5s ease 0s normal forwards 1 fadein;
  animation: 2.5s ease 0s normal forwards 1 fadein;
}
#start-button:hover, #restart-button:hover{
  background-color: #fdf2da;
  border: 1px solid #f29c4b;
}

@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

#text-container{
  height: 250px;
  z-index: 10;
}

#illustration, #intro{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#intro-illustration, #illustration img{
  margin: 0 auto;
  position: absolute; 
  bottom: 0;
  width: 100%;
  min-width: 900px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -10;
  overflow: hidden;
}

#attribution{
  font-size: xx-small;
  position: absolute;
  bottom: 0px;
  right: 5px;
}

#attribution a{
  color: black;
}

@media (max-width: 600px) and (max-height: 700px) { 
  h1{
    font-size: 1.5em;
    margin-top: 0;
  }
  #intro-illustration, #illustration img{
    margin-bottom: -32%; 
    min-width: 1000px;
  }
}
@media (min-width: 600px) and (max-width: 800px) and (min-height: 700px ) and (max-height: 800px) { 
  #intro-illustration, #illustration img{
    margin-bottom: -30%;
    min-width: 1300px;
  }
}
@media (max-width: 800px) and (min-height: 800px) { 
  #intro-illustration, #illustration img{
    margin-bottom: -25%;
    min-width: 1400px;
  }
}

@media (min-width: 800px) and (min-height: 700px) and (max-height: 900px) { 
  #intro-illustration, #illustration img{
    margin-bottom: -14%;
    min-width: 1500px;
  }
}
@media (min-width: 800px) and (min-height: 900px) and (max-height: 1200px) { 
  #intro-illustration, #illustration img{
    margin-bottom: -10%;
    min-width: 1500px;
  }
}
