html *{
  font-family: 'Courier New', Courier, monospace;
}
main {
  max-width: 700px;
  width: 100%;
  /* background-color: antiquewhite; */
  margin: auto;
  text-align: center;
}

h1{
  margin-top: 1.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#text-container{
  height: 250px;
  /* background-color: azure; */
}

#illustration{

}

.highlight{
  background-color: yellow;
}

.no-style{
  all: unset;
}

button{
  cursor: pointer;
}