html *{
  font-family: 'Courier New', Courier, monospace;
}

body{
  background-color: #fbe8fd;
}

main {
  max-width: 700px;
  width: 100%;
  /* background-color: antiquewhite; */
  margin: auto;
  text-align: center;
  margin: 0 auto;
}

h1{
  margin-top: 1.5em;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#story p button{
  color: black;
  background-color: #f4f4f4;
  border: 1px solid #797979;
  border-radius: 3px;
  padding: 2px 6px;
  margin: 0 1px 0 1px;
}

#start-button{
  font-size: large;
  background-color: #fdf2da;
  border: 1px solid #797979;
  border-radius: 5px;
  padding: 6px 12px;
}


#start-button:hover, #restart-button:hover{
  background-color: #fdf2da;
  border: 1px solid #f29c4b;
}

#restart-button{
  background-color: #fdf2da;
  border: 1px solid #797979;
  border-radius: 5px;
  padding: 5px 7px;
  -webkit-animation: 2.5s ease 0s normal forwards 1 fadein;
  animation: 2.5s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}



#text-container{
  height: 250px;
  z-index: 10;
  /* background-color: azure; */
}

#illustration, #intro{
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#intro-illustration, #illustration img{
  margin: 0 auto;
  position: absolute; 
  bottom: -130px; 
  width: 100%;
  min-width: 800px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -10;
}
/* Minimum aspect ratio */


/* Maximum aspect ratio */
@media (min-aspect-ratio: 2/1) {
  #illustration img{
    bottom: -130px;
  }
  
}
@media (min-aspect-ratio: 2/1) and (min-width: 1000px) {
  #illustration img{
    bottom: -200px;
  }
  /* div {
    background: #f9a; /* red */
  /* } */ 
}




.highlight{
  background-color: yellow;
}

.no-style{
  all: unset;
}

button{
  cursor: pointer;
}

@media (max-width: 500px)  { 
    h1{
      font-size: 1.5em;
      margin-top: 0;
    }
}